<p id="notice"><%= notice %></p>

<p>
  <strong>Ear num:</strong>
  <%= @cow.ear_num %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cow.name %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @cow.birth %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @cow.sex %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @cow.owner_id %>
</p>

<p>
  <strong>T1:</strong>
  <%= @cow.t1 %>
</p>

<p>
  <strong>T2:</strong>
  <%= @cow.t2 %>
</p>

<p>
  <strong>T3:</strong>
  <%= @cow.t3 %>
</p>

<p>
  <strong>T4:</strong>
  <%= @cow.t4 %>
</p>

<p>
  <strong>T5:</strong>
  <%= @cow.t5 %>
</p>

<p>
  <strong>T6:</strong>
  <%= @cow.t6 %>
</p>

<p>
  <strong>T7:</strong>
  <%= @cow.t7 %>
</p>

<p>
  <strong>T8:</strong>
  <%= @cow.t8 %>
</p>

<p>
  <strong>T9:</strong>
  <%= @cow.t9 %>
</p>

<p>
  <strong>T10:</strong>
  <%= @cow.t10 %>
</p>

<p>
  <strong>T11:</strong>
  <%= @cow.t11 %>
</p>

<p>
  <strong>T12:</strong>
  <%= @cow.t12 %>
</p>

<p>
  <strong>T13:</strong>
  <%= @cow.t13 %>
</p>

<p>
  <strong>T14:</strong>
  <%= @cow.t14 %>
</p>

<p>
  <strong>T15:</strong>
  <%= @cow.t15 %>
</p>

<p>
  <strong>T16:</strong>
  <%= @cow.t16 %>
</p>

<p>
  <strong>T17:</strong>
  <%= @cow.t17 %>
</p>

<p>
  <strong>T18:</strong>
  <%= @cow.t18 %>
</p>

<p>
  <strong>T19:</strong>
  <%= @cow.t19 %>
</p>

<p>
  <strong>T20:</strong>
  <%= @cow.t20 %>
</p>

<p>
  <strong>T21:</strong>
  <%= @cow.t21 %>
</p>

<p>
  <strong>T22:</strong>
  <%= @cow.t22 %>
</p>

<p>
  <strong>T23:</strong>
  <%= @cow.t23 %>
</p>

<p>
  <strong>T24:</strong>
  <%= @cow.t24 %>
</p>

<p>
  <strong>T25:</strong>
  <%= @cow.t25 %>
</p>

<p>
  <strong>T26:</strong>
  <%= @cow.t26 %>
</p>

<p>
  <strong>T27:</strong>
  <%= @cow.t27 %>
</p>

<p>
  <strong>T28:</strong>
  <%= @cow.t28 %>
</p>

<p>
  <strong>T29:</strong>
  <%= @cow.t29 %>
</p>

<p>
  <strong>T30:</strong>
  <%= @cow.t30 %>
</p>

<p>
  <strong>T31:</strong>
  <%= @cow.t31 %>
</p>

<p>
  <strong>T32:</strong>
  <%= @cow.t32 %>
</p>

<p>
  <strong>T33:</strong>
  <%= @cow.t33 %>
</p>

<p>
  <strong>T34:</strong>
  <%= @cow.t34 %>
</p>

<p>
  <strong>T35:</strong>
  <%= @cow.t35 %>
</p>

<p>
  <strong>T36:</strong>
  <%= @cow.t36 %>
</p>

<p>
  <strong>T37:</strong>
  <%= @cow.t37 %>
</p>

<p>
  <strong>T38:</strong>
  <%= @cow.t38 %>
</p>

<p>
  <strong>T39:</strong>
  <%= @cow.t39 %>
</p>

<p>
  <strong>T40:</strong>
  <%= @cow.t40 %>
</p>

<p>
  <strong>T41:</strong>
  <%= @cow.t41 %>
</p>

<p>
  <strong>T42:</strong>
  <%= @cow.t42 %>
</p>

<p>
  <strong>T43:</strong>
  <%= @cow.t43 %>
</p>

<p>
  <strong>T44:</strong>
  <%= @cow.t44 %>
</p>

<p>
  <strong>T45:</strong>
  <%= @cow.t45 %>
</p>

<p>
  <strong>T46:</strong>
  <%= @cow.t46 %>
</p>

<p>
  <strong>T47:</strong>
  <%= @cow.t47 %>
</p>

<p>
  <strong>T48:</strong>
  <%= @cow.t48 %>
</p>

<p>
  <strong>T49:</strong>
  <%= @cow.t49 %>
</p>

<p>
  <strong>T50:</strong>
  <%= @cow.t50 %>
</p>

<%= link_to 'Edit', edit_cow_path(@cow) %> |
<%= link_to 'Back', kine_path %>
