<%= form_for(@ai_log) do |f| %>
  <% if @ai_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ai_log.errors.count, "error") %> prohibited this ai_log from being saved:</h2>

      <ul>
      <% @ai_log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cow_no %><br>
    <%= f.number_field :cow_no %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :owner_id %><br>
    <%= f.number_field :owner_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
